<h2>Editing Blueprint</h2>

<%= render "form" , blueprint: @blueprint%>

<br>
<div>
  <%= link_to "Show this blueprint", @blueprint %>
  <%= link_to "back to blueprints", blueprints_path %>
</div>