<!-- app/views/divisions/_subdivisions.html.erb -->
<% if divisions.present? %>
  <ul>
    <% divisions.each do |subdivision| %>
      <li>
        <%= subdivision.eng_translation.name %>
        <%= render 'divisions/subdivisions', divisions: subdivision.children %>
      </li>
    <% end %>
  </ul>
<% end %>
