<h2>Edit Blueprint translations</h2>


<%= render "form" , blueprint_translation: @blueprint_translation%>

<br>
<div>

  <%= link_to "back to blueprints", blueprint_url(@blueprint) %>
</div>