<h2>Editing brand</h2>

<%= render "form" , brand: @brand %>
<br>
<div>
  <%= link_to "mostra brand", @brand , class: "btn btn-primary" %>
  <%= link_to "elenco brands", brands_path , class: "btn btn-primary" %>
</div>